body {
	background-color: rgba(238, 182, 93, 0.6);
	font-family: 'ABeeZee', sans-serif;
	overflow: hidden;
}
nav {
	background-color: rgba(20,17,130,255);
	
	font-family: 'ABeeZee', sans-serif;
}

footer {
	background-color: rgb(238, 182, 93);
	color: rgba(20,17,130,255);	
	font-family: 'ABeeZee', sans-serif;
	z-index: 1 !important;
}
#footer {
	display: inline-block;
	font-size: 1.2em;
}
i {
	font-size: 1.5em;
	color: rgba(20,17,130,255);
}

a {
	color: rgba(255,255,255,255);
}

h1 {
	color: rgba(20,17,130,255);
	font-weight: bold;
}

#cursor {
	position: absolute;
	display: none;
	z-index: 2;
}

#mouse {
	width: 100vw;
	height: 100vh;
}
img {
	border-radius: 50%;
}

