body {
	background-color: #eeb65d;
	font-family: 'ABeeZee', sans-serif;
}
nav {
	position: fixed;
	display: flex;
	justify-content: space-around;
	width: 100%;
	top: 0;
	left: 0;
	right: 0;
	padding: .5vw;
}
a {
	color: #000000;
	text-decoration: none;
}
a:hover {
	color: #000000;
	text-decoration: none;
	transform: scale(1.5);
	font-weight: bold;

}
h1 {
	color: #000000;
	font-size: 50px;
}

