body {
	background-color: rgba(238, 182, 93, 0.6);
	font-family: 'ABeeZee', sans-serif;
	height: -webkit-fill-available;
}

nav {
	background-color: rgba(20,17,130,255);
	font-family: 'ABeeZee', sans-serif;
}

footer {
	background-color: rgb(238, 182, 93);
	color: rgba(20,17,130,255);	
	font-family: 'ABeeZee', sans-serif;
	z-index: 10 !important;

}

#footer {
	display: inline-block;
	font-size: 1.2em;

}

i {
	font-size: 1.5em;
	color: rgba(20,17,130,255);
}

a {
	color: rgba(255,255,255,255);
}

h1, h2 {
	color: rgba(20,17,130,255);
	font-weight: bold;
}

#cursor {
	position: absolute;
	display: none;
	z-index: 11;
}

img {
	border-radius: 50%;
}

#bio_pic {
	border: 3px solid rgb(238, 182, 93);
	width: 50%;
}

summary {
	font-size: 1.3em;
	font-weight: bold;
	color: rgba(20,17,130,255);
}

details {
	padding-top: 10px;
}

.card {
	background-color: rgb(238, 182, 93, 0);
	border: none;
	padding-top: 10px;
}
.card img{
	border-radius: 0;
	width: 70%;
	align-self: center;
}

p {
	color: rgba(20,17,130,255);
}

.tabitem {
	background-color: rgb(238, 182, 93, 0);
	color: rgba(20,17,130,255);
	border: none;
	padding-top: 3vh;
	padding-bottom: 3vh;
}
.tabitem.active {
	border: none;
	background-color: rgba(20,17,130,255);
	color: rgb(238, 182, 93);
	border-radius: 0%;
}
.tabitem:hover:not(.tabitem.active){
	background-color: rgb(238, 182, 93);
	color: rgba(20,17,130,255)
}

ul {
	list-style: none;
	padding: 0;
	color: rgba(20,17,130,255);
}

h2 {
	margin-top: 10px;
	margin-bottom: 0;
	font-weight: bold;
}

#resume {
	display: inline-block;
	background-color: rgba(20,17,130,255);
	font-size: 1.2em;
	border-radius: 15px;
	padding: 0.3em;
}

#resume:hover {
	color: rgba(255,255,255,255);
	text-decoration: none;
	font-weight: bolder;
}

.link {
	background-color: rgba(20,17,130,255);
	padding: 0.3em;
	display: inline-block;
	margin: 0.1em;
}

.link:hover {
	color: rgba(255,255,255,255);
	text-decoration: none;
	font-weight: bolder;
}
#logo {
	width: 50%;
}

@media screen and (min-width: 576px) {
	#logo {
		width: 45%;
	}
}

@media screen and (min-width: 768px) {
	#logo {
		width: 40%;
	}
}

@media screen and (min-width: 992px) {
	#logo {
		width: 30%;
	}
}

@media screen and (min-width: 1200px) {
	#bio_pic {
		width: 30%;
	}
	#logo {
		width: 20%;
	}
}