body {
	background-color: rgba(238, 182, 93, 0.6);
	font-family: 'ABeeZee', sans-serif;
	overflow: hidden;
}
nav {
	background-color: rgba(20,17,130,255);
	
}
	
a {
	color: rgba(255,255,255,255);
}
a:hover {
	color: rgba(255,255,255,255);
	text-decoration: none;
	font-weight: bold;

}
h1 {
	color: rgba(20,17,130,255);
	font-size: 50px;
	font-weight: bold;
}

#cursor {
	position: absolute;
	display: none;
	z-index: 2;
}

#mouse {
	width: 100vw;
	height: 100vh
}
img {
	border-radius: 50%;
}

