body {
	background-color: #eeb65d;
	font-family: 'ABeeZee', sans-serif;
}
nav {
	position: fixed;
	justify-content: space-around;
	width: 200px;
	height: 100%;
}
	
a {
	color: #000000;
	text-decoration: none;
	padding: 20px;
	display: block;

}
a:hover {
	color: #000000;
	text-decoration: none;
	transform: scale(1.5);
	font-weight: bold;

}
h1 {
	color: #000000;
	font-size: 50px;
}

#cursor {
	display: none;
	position: absolute;
}


